@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style: none;
    margin: 0 20px;
}
.left{
    font-size: 1.5rem;
}
.first-section{
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    margin: 80px 0;
    align-items: center;
    /* border: 1px solid white; */
}
.first-section > div{
    width: 30%;

}
.leftsection{
    font-size: 5vb;
    margin: 30px 0;
   
}
.purple{
    color: rgb(170, 107, 228);
}
.rightsection{
    
    /* background-color: rgb(255, 0, 0); */
}
.rightsection img{
    width: 80%;
    
}